body {
	font-family: sans-serif;
}

button.buildPassed {
	background-color: lightgreen;
	color: white;
	opacity: 1;
	font-size: small;
}
button.buildFailed {
	background-color: red;
	color: white;
	opacity: 1;
	font-size: small;
}
button.projectPassed {
	background-color: lightgreen;
	color: white;
	opacity: 1;
}
button.projectFailed {
	background-color: red;
	color: white;
	opacity: 1;
}
